.App {
  font-family: sans-serif;
}

.App form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: rgba(255, 0, 0, 0.6);
  margin-right: 20px;
  margin-bottom: 5px;
}

.error-message::before {
  content: "⚠ ";
}
